# Ignore node_modules directory
node_modules

# Ignore npm debug logs
npm-debug.log

# Ignore yarn debug logs
yarn-debug.log
yarn-error.log

# Ignore .env file (contains sensitive information)
.env

# Ignore any build artifacts or compiled code
dist
build
out

# Ignore any temporary files or caches
*.tmp
*.swp
*.swo
*.bak
*.cache
*.log
